In [ ]:
from pandas import Series

In [ ]:
mylist = [1,2,3,4,5]
print(mylist)

In [ ]:
type(mylist)

In [ ]:
s = Series(mylist)
s

In [ ]:
type(s)

In [ ]:
ss = s*2
ss

In [ ]:
mylist*2

In [ ]:
mys = Series(mylist, dtype='float')
mys

In [ ]:
mysi = Series(mylist, index=list('abcde'))
mysi

In [ ]:
mysi['c'] = 10
mysi

In [ ]:
s/2

In [ ]:
mylist

In [ ]:
mylist[2]=10
mylist

In [ ]:
s

In [ ]:
s[2]=10
s

In [ ]:
s[2]

In [ ]:
ss.max()

In [ ]:

ss.min()

# DataFrame

In [ ]:
from pandas import DataFrame

In [ ]:
mydf = DataFrame(mylist,columns=['num'])
mydf

In [ ]:
type(mydf)

In [ ]:
ss.dtype

In [ ]:
ss[1]='bahhh'

In [ ]:
mydf*2

In [ ]:
mydic = {
    'Name':['Abdoulaye','Mouctar','Ousmane'],
    'Age':[23,13,34],
    'Country':['Guinea','Guinea','Mali']
}

In [ ]:
mydic

In [ ]:
df = DataFrame(mydic)
df

In [ ]:
df['Age']

In [ ]:
df.dtypes

In [ ]:
df['Age'].mean()

In [ ]:
df

In [ ]:
columns_name = ['names','ages','countries']
columns_name

In [ ]:
df.columns = columns_name

In [ ]:
df.to_csv('students.csv',index=False)

In [ ]:
import pandas as pd

In [ ]:
st = pd.read_csv('students.csv')
st